<div id="buckets">
	<h1>I want to…</h1>

	<section class="bucket report">
		<h2>…report a problem, ask a question, propose a feature…</h2>
		<p>Do so normally, on the project’s issue tracker, or as detailed
			in their documentation and/or contribution guidelines.</p>
	</section>

	<section class="bucket contrib">
		<h2>…contribute some code, documentation, art, time…</h2>
		<p>Do so normally, by submitting a pull request or however the project
			accepts contributions. Make sure to follow their guidelines!</p>
	</section>

	<section class="bucket release">
		<h2>…get features, fixes, my own or others’ contributions merged and released</h2>
		<h3 class="either">Either</h3>
		<p class="wait">Wait for the project’s maintainers to do so.
			<strong>They cannot be rushed</strong>, and will do it at their pace.
			That might be days, weeks, months, or even years, but you won’t have
			to do anything.</p>
		<h3 class="or">Or</h3>
		<p class="act">Propose a release, and become a <strong>temporary releaser</strong>.
			If accepted, you will be responsible for getting the release ready
			and publishing it, and you will be given rights to do it. Follow the
			<a href="/release-proposal/">release proposal process</a>.</p>
	</section>

	<section class="bucket care">
		<h2>…become a caretaker</h2>
		<p>Read this website and learn the project’s own documentation and guidelines.
			The project may have its own process, but if it doesn't, here's
			<a href="/becoming-a-caretaker/">a template</a> you can follow.</p>
	</section>

	<section class="bucket use">
		<h2>…use this for my own work</h2>
		<p>Include <a href="/usage/#blurb">a blurb</a> in your readme explaining that
			you use the Caretaker Model, with a link to this website. And of
			course apply its processes and principles! You may also want to
			<a href="/usage/#automation">set up automation</a>.</p>
	</section>
</div>
