<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/icon-180.png">
	<link rel="icon" type="image/png" sizes="512x512" href="/assets/img/icon-512.png">
	<link rel="icon" type="image/png" sizes="256x256" href="/assets/img/icon-256.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/assets/img/icon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/icon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/icon-16.png">
	<meta property="og:image" content="{{ "/assets/img/vignette.png" | absolute_url }}">
	<meta name="msapplication-TileColor" content="#000000">
	<meta name="theme-color" content="#ffffff">

	{%- seo -%}
	<meta name="description" content="{{ site.seo_description }}">
	<meta property="og:description" content="{{ site.seo_description }}">

	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
