@charset "utf-8";
@import "reboot";

:root {
	--primary: #498f43;
}

a {
	color: var(--primary);
}

.sr-only {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
}

#splash {
	text-align: right;
	font-size: 0.6em;
	padding: 0.5em;
	background-blend-mode: screen;
	background-color: var(--primary);

	.version {
		color: white;
		mix-blend-mode: difference;
	}
}
