<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="home">
	{%- assign default_paths = site.pages | map: "path" -%}
	{%- assign page_paths = site.header_pages | default: default_paths -%}

	{%- include splash.html -%}
	{%- include buckets.html -%}

	<h1 id="title">The Caretaker Model</h1>
	<main aria-label="Content">
		<nav id="toc">
			<h2 class="sr-only">Table of Contents</h2>
			<ol>
				<li>
					<a href="#background">Background</a>
					<p>The state of open software project management and its issues.</p>
				</li>
				<li>
					<a href="#introduction">Introduction</a>
					<p>The core mechanics of the Caretaker model, the two roles
						it introduces, and how they help.</p>
				</li>
				<hr>
				<li>
					<a href="#scope">Scope</a>
					<p>The concerns covered by the model, and some of examples
						of those that are not.</p>
				</li>
				<li>
					<a href="#audience">Audience</a>
					<p>The kinds of projects the model is (not) appropriate for:
						both in terms of size and in terms of philosophies. Also,
						a note about following rules.</p>
				</li>
				<li>
					<a href="#the-caretaker-role">The caretaker role</a>
					<p>The duties and requirements of the role in depth, as well
						as protocols and recommendations when there are multiple.</p>
				</li>
				<li>
					<a href="#the-releaser-role">The releaser role</a>
					<p>The duties and expectations of a releaser, and mechanics
						of becoming one temporarily.</p>
				</li>
				<li>
					<a href="#proposals">Proposals</a>
					<p>The release proposal process, what is required, what
						projects may also choose to include, timings and timeouts.</p>
				</li>
				<li>
					<a href="#walkthrough">Walkthrough</a>
					<p>The examplar story of a release, and how it looks like
						from both the releaser's and the caretaker's
						perspectives.</p>
				</li>
				<li>
					<a href="#automation">Automation</a>
					<p>The same walkthrough as above, this time with an imagined
						bot which guides interactions and increases efficiency.</p>
				</li>
				<li>
					<a href="#failure-and-recovery">Failure and recovery</a>
					<p>The possible failure scenarios of the model, and how to
						deal with them if they occur.</p>
				</li>
				<hr>
				<li>
					<a href="#meta">Meta</a>
					<p>The license the model text itself is under, authorship,
						discussion and change process, and considerations for
						redistribution, mirroring/rehosting, and forking.</p>
				</li>
			</ol>
		</nav>
		<div id="content">
			{{ content }}
		</div>
	</main>

	{%- include nav.html -%}
	{%- include credits.html -%}
</body>

</html>
