<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="home">
	{%- assign default_paths = site.pages | map: "path" -%}
	{%- assign page_paths = site.header_pages | default: default_paths -%}

	{%- include splash.html -%}
	{%- include buckets.html -%}

	<h1 id="title">The Caretaker Model</h1>
	<main aria-label="Content">
		<nav id="toc">
			<h2 class="sr-only">Table of Contents</h2>
			<ol>
				<li>
					<a href="#background">Background</a>
					<p>The state of open software project management and its issues.</p>
				</li>
				<li>
					<a href="#introduction">Introduction</a>
					<p>The core mechanics of the Caretaker model, the two roles
						it introduces, and how they help.</p>
				</li>
				<hr>
				<li>
					<a href="#scope">Scope</a>
					<p>The concerns covered by the model, some of examples of
						those that are not, and what projects can dictate.</p>
				</li>
				<li>
					<a href="#audience">Audience</a>
					<p>The kinds of projects the model is (not) appropriate for:
						both in terms of size and in terms of philosophies.</p>
				</li>
				<li>
					<a href="#the-caretaker-role">The caretaker role</a>
					<p>The caretaker role in depth, its reason for existing, when
						it is useful, why it is useful, and recommendations.</p>
				</li>
				<li>
					<a href="#the-releaser-role">The releaser role</a>
					<p>The releaser role in depth, // TODO</p>
				</li>
				<li>
					<a href="#release-proposals">Release proposals</a>
					<p>The process followed by prospective releasers to propose
						a release, what is required from caretakers, timings,
						timeouts, defaults, and a proposal template.</p>
				</li>
				<li>
					<a href="#release-lifecycle">Release lifecycle</a>
					<p>The process followed by releasers and caretakers once a
						proposal is approved, through to its completion, and
						beyond.</p>
				</li>
				<li>
					<a href="#walkthrough">Walkthrough</a>
					<p>The examplar story of a release, on a vanilla project
						with a single caretaker.</p>
				</li>
				<li>
					<a href="#automation">Automation</a>
					<p>The same walkthrough as above, this time with an imagined
						bot which guides interactions and increases efficiency.</p>
				</li>
				<li>
					<a href="#failure-and-recovery">Failure and recovery</a>
					<p>The possible failure scenarios of the model, and how to
						deal with them if they occur.</p>
				</li>
				<li>
					<a href="#scaling-up">Scaling up</a>
					<p>The different avenues for scaling the model up, from
						adding more caretakers, to specialising the role, to
						// TODO.</p>
				</li>
				<hr>
				<li>
					<a href="#meta">Meta</a>
					<p>The license the model text itself is under, authorship,
						discussion and change process, and considerations for
						redistribution, mirroring/rehosting, and forking.</p>
				</li>
			</ol>
		</nav>
		<div id="content">
			{{ content }}
		</div>
	</main>

	{%- include nav.html -%}
	{%- include credits.html -%}
</body>

</html>
